@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rammetto+One&display=swap');

* {
    transition: 300ms;
    margin: 0;
    padding: 0;
    --stdGrad: linear-gradient(to right, #8e2de2, #4a00e0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
    box-sizing: border-box;
}

html {
    scroll-behavior:smooth;
    overflow-x: hidden;
}

section {
    /* border: 1px solid red; */
    width: 85%;
    margin: 4rem auto;
}

body {
    min-height: 100vh;
    background-color: #a195f3;
    /*background-image: linear-gradient(to right,rgb(167, 223, 245) ,rgb(178, 179, 255));
    background-size: 200%;
    animation: gradient 5s ease infinite;
}
@keyframes gradient {
    0%{background-position: 0;}
    25%{background-position: 50%;}
    50%{background-position: 100%;}
    75%{background-position: 50%;}
    100%{background-position: 0%;}*/
}

.navbar {
    width: 80%;
    max-width: 1400px;
    height: 70px;
    border-radius: 16.5px;
    background: rgba(255, 255, 255, 0.177);
    box-shadow: 0px 0.8421052694320679px 5.8947367668151855px 0px
        rgba(0, 0, 0, 0.15);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    margin: 2rem auto;
}

.links .nav-link {
    font-size: 17px;
    font-weight: 500;
    margin: 0.2rem;
    padding: 1rem;
    text-decoration: none;
    color: rgb(36, 35, 35);
    display: inline-block;
    /* border: 1px solid red */
}

.nav-link:hover {
    color: rgb(21, 22, 80);
    text-decoration: underline ;
}

.links .navbtn {
    display: inline-block;
    background: #42115c;
    color: white;
    border-radius: 10px;
    padding: 0.7rem 1rem;
    margin: auto 0.4rem;
    width: fit-content;
    text-align: center;
    text-decoration: none;
}

.navbtn:hover {
    transform: scale(1.075);
}

/*content section*/
.content{
  max-width: 650px;
  /*margin:60px 50px;*/
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  padding: 10px;
  flex:50%;
  display: flex;
  flex-direction:table-row;
  transition:300ms;
}
.content .info{
  padding:10px;
}
.content .info h2{
    color:#42115c;
    font-size: 80px;
    text-transform: lowercase;
    letter-spacing: 2px;
    line-height: 70px;
    margin-bottom:20px ;
    text-shadow: 5px 6px 10px #3c1154b4;
}
.content .info h2 span{
    font-size: 6rem;
    color:#632485 ;
}
.content .info p{
  width:600px;
  text-align: justify;
  width:95%;
  font-family: 'PlayFair Display';
  font-size: 1.6rem;
}
.content .info h1{
  font-size: 1rem;
  white-space: nowrap;
  margin-bottom: 30px;
  font-family:'PlayFair Display';
  font-style: italic;
  color: rgb(253, 254, 254);
  letter-spacing: 2px;
  word-spacing: 2px;
  padding-left: 30px;
}
.content .imgbox img{
  position:relative;
  width:600px;
  height:400px;
  margin:30px;
  box-shadow: 25px 25px 50px rgba(0, 0, 0, 0.397) ;                 /*1st & 2nd px level of shadow 3rd px-shadow spread karne ke liye*/
  border-radius: 20px;
  background:rgba(255,255,255,0.1);
  overflow:hidden;
  display:flex;
  justify-content: center;
  align-items: center;
  
  margin-bottom:30px;
}
.imgbox:hover{
  transform: scale(1.075);

}

/*mission page2*/
.mission{
  /*background-color:#b6adec;*/
  width:100vw;
  height:100vh;
  padding-top:1px;
}
.container1{
  width:75%;
  height:600px;
  margin: 100px auto;
  flex: 50%;
  display: flex;
  flex-direction: row;
  background: linear-gradient( to bottom right ,#430788, #4b0386, #1d0264, #12003e);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 25px 25px 50px rgba(0, 0, 0, 0.397) ;                 /*1st & 2nd px level of shadow 3rd px-shadow spread karne ke liye*/
}
.container1 .infomv{
  max-width: 650px;
  min-height: 100vh;
  padding-right: 70px ;
  flex:50%;
  transition:300ms;
}
.container1 .imgm img{
  position:relative;
  width:500px;
  height:400px;
  margin:60px;
  border-radius: 20px;
  background:#ffffff1a;
  overflow:hidden;
  display:flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);box-shadow: 25px 25px 50px rgba(0, 0, 0, 0.397) ;                 /*1st & 2nd px level of shadow 3rd px-shadow spread karne ke liye*/
  margin-bottom:30px;
  margin-top: 90px;
  -webkit-transaction:.3s ease-in-out;
  transition:.3s ease-in-out;
}
.mission .container1 h1{
  color: #a195f3;
  text-align: center;
  margin:60px 2px 5px 2px;
  padding:20px ;
  text-shadow: 5px 6px 10px #360e4f;

}
.mission .container1 p{
  color:#b6adec;
  text-align: justify;
  
}
